openapi: 3.0.3
info:
  title: Sendify API
  description: 使用 Sendify API 管理联系人和邮件营销数据。
  version: 1.0.0-beta
servers:
  - url: https://api.sendify.dingstore.cn
    description: Sendify API
paths:
  /dmx/v2/contacts:
    post:
      tags:
        - 联系人
      summary: 创建联系人
      description: |-
        通过标签名称和自定义字段 Key 创建联系人。
        默认标签名称不存在或匹配不唯一时请求失败，字段 Key 不存在或匹配不唯一时请求失败。
      operationId: createContact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateContactRequest"
            example:
              email: string
              tagNames:
                - string
              customFields:
                - fieldName: string
                  fieldValue: string
              autoCreateTags: true
              conflictPolicy: CONTACT_CONFLICT_POLICY_FAIL_IF_EXISTS
      responses:
        "200":
          description: 联系人创建成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateContactResponse"
              example:
                contact:
                  id: string
                  email: string
                  tagNames:
                    - string
                  customFields:
                    - fieldName: string
                      fieldValue: string
                  createTime: string
        "401":
          description: 访问未授权，请检查是否传递了正确的 Bearer API Key
        "403":
          description: 无 API 访问权限，请检查 API Key 的权限配置
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: 在 Authorization 请求头中使用 `Bearer YOUR_TOKEN` 格式传入 Sendify API Key。
  schemas:
    Contact:
      type: object
      properties:
        id:
          type: string
          description: 联系人 ID
        email:
          type: string
          format: email
          description: 邮件地址
        tagNames:
          type: array
          items:
            type: string
          description: 标签名称列表
        customFields:
          type: array
          items:
            $ref: "#/components/schemas/ContactCustomField"
          description: 自定义字段值
        createTime:
          type: string
          format: date-time
          description: 创建时间
    ContactConflictPolicy:
      type: string
      description: |-
        联系人已存在时的处理策略，默认创建失败。设置为更新策略时，按 email 匹配到已有联系人则用本次提供的数据更新。
        - `CONTACT_CONFLICT_POLICY_FAIL_IF_EXISTS`：联系人已存在时返回冲突错误，不更新联系人。
        - `CONTACT_CONFLICT_POLICY_UPDATE_IF_EXISTS`：联系人已存在时更新已有联系人。已有标签会保留，tagNames 仅追加新标签。
      enum:
        - CONTACT_CONFLICT_POLICY_FAIL_IF_EXISTS
        - CONTACT_CONFLICT_POLICY_UPDATE_IF_EXISTS
    ContactCustomField:
      type: object
      required:
        - fieldName
      properties:
        fieldName:
          type: string
          description: 自定义字段名称。字段名称必须已存在且唯一；不存在或匹配不唯一时请求失败。
        fieldValue:
          type: string
          description: 自定义字段值
    CreateContactRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
          description: 邮件地址
        tagNames:
          type: array
          items:
            type: string
          description: 要添加到联系人的标签名称列表。追加语义：保留已有标签，仅添加本次列表中的新标签。
        customFields:
          type: array
          items:
            $ref: "#/components/schemas/ContactCustomField"
          description: 自定义字段值
        autoCreateTags:
          type: boolean
          default: false
          description: 标签名称不存在时是否自动创建，默认 false。为 false 时，tagNames 中存在未命中标签会请求失败；为 true 时自动创建后追加到联系人。
        conflictPolicy:
          $ref: "#/components/schemas/ContactConflictPolicy"
    CreateContactResponse:
      type: object
      properties:
        contact:
          $ref: "#/components/schemas/Contact"
security:
  - bearerAuth: []
tags:
  - name: 联系人
    description: 创建和管理联系人
